.strength_meter_root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 11px 0;
}
.strength_meter_root p {
  font-size: 12px !important;
  white-space: nowrap;
  max-width: 110px;
  width: 100%;

  margin: 0px;
  margin-right: 15px;
}

.strength_meter {
  margin: 0px;
  display: flex;
  flex: 1;
}

.strength_meter > li {
  min-height: 5px;
  margin-left: 4px;
  background-color: #cdd3da;
  flex: 1;
  transition: 0.3s all ease-in;
  border-radius: 6px;
}

.strength_meter.percent_20 li:first-child,
.strength_meter.percent_40 li:first-child,
.strength_meter.percent_40 li:nth-child(1) {
  background-color: #fe84a8;
}

.strength_meter.percent_60 li:first-child,
.strength_meter.percent_60 li:nth-child(2) {
  background-color: #ffcf00;
}

.strength_meter.percent_80 li:first-child,
.strength_meter.percent_80 li:nth-child(2) {
  background-color: #ffcf00;
}

.strength_meter.percent_100 > li:first-child,
.strength_meter.percent_100 > li:nth-child(2),
.strength_meter.percent_100 > li:nth-child(3) {
  background-color: #00c1bc;
}
